@charset "utf-8";
/* CSS Document */

body{
	margin:0px; 
	padding: 0px;
	font-family: verdana,arial,sans-serif; 
	font-size:12px;
	color:#21599e;
	background-color:#FFFFFF;  
}

a{
	text-decoration:none;
	color:#21599e;
}

/* MENU */
#menu{
	width:auto;
	background:#D1D8E4;
	margin:0px;
	padding:0px;
	list-style:none;
}

#sfondo_menu{
	width:auto;
	background:#D1D8E4;
	background-image:url(img/menu.gif);
	background-repeat:repeat-x;
	height:25px;		
}

#menu li{
	float:left;
	/*width:10em;*/ 
	position:relative;
}

#menu a{
	display:block;
	height:25px;
	line-height:2em;
	padding:0 10px;
	text-decoration:none;
	text-align:center;
}

/* SOTTOMENU */
#menu ul{
	margin:0;
	padding:0;
	list-style:none;
	width:17em;
	border-right:1px solid #E3D7D7;
	border-left:1px solid #E1D7D7;
	border-bottom:1px solid #E1D7D7;
	
}

#menu ul li{

	width:17em; 
}

#menu ul a{
	float:none;
	display:block;
	text-align:left;
	height:1.8em;
}


#menu ul, #menu ul.subMenu-off{
	position:absolute;
	top:-10000em
}


#menu ul.subMenu-on{
	position:absolute;
	top:2em;
	left:-1px;
	visibility:visible;
	border-top:1px solid  #E3D7D7;
	
}

#menu ul.subMenu-on ul.subMenu-on{
	margin:0 0 0 0px;
	width:17em;
	position:absolute;
	top:-1px;
	left:17em;
	border-top:1px solid #AB837E;
	
}

#menu{
	background:#AB837E;
	color:#333333;
}

#menu a{
	background:#E3E1E1;
	color:#333333;
	font-size:11px;
	clear:both;
}

#menu a:hover,#menu a:focus,#menu a:active{
	background:#D7D2D2;
	/*width:184px;*/
}

#menu a.continua{
	background:url(img/continuaOrz.gif) #EEE center bottom no-repeat;
}

#menu ul a.continua{
	background:url(img/continua.gif) #EEE right center no-repeat;
}

a#prima{
	background:none;
	/*width:17em;*/
	height:20px;
	text-align:left;
	padding-top: 5px;
	margin:0px;
	font-weight:bold;
}

a#prima:hover{
	background:none;	
}

img#freccia{
	float:right;
	margin-top:5px;	
}

.voce{
	float:left;
	height:20px;
}

/* --------- INIZIO TESTATA --------- */

#testata{
	width: auto;
	height: 30px;
	padding:5px;
	background-image:url(../img/testata.gif);
	background-repeat:repeat-x;
	color:#000000;
	font-size:12px;
	
}

#intestazione_descrizione{
	font-size:16px;
	margin-top:10px;
	color:#FFFFFF;
	float:left;
}

#intestazione_luogo{
	font-size:14px;
	margin-top:11px;
	margin-left:5px;
	color:#FFFFFF;
	float:left;
}

#intestazione_date{
	font-size:14px;
	margin-top:11px;
	margin-left:5px;
	color:#FFFFFF;
	float:right;
}

/* --------- FINE TESTATA --------- */

/* --------- INIZIO CORPO --------- */
#corpo_ordini{
	width: 700px;
	height: 710px;
	float:left;
	border: 1px solid #B1B1B1;
	margin-left:3px;
	background:#2C5C98;
	
}

#corpo_configurazione{
	width: 350px;
	height: auto;
	margin: 0 auto;
	margin-top: 2px;
	border: 1px solid #CED2DB;
	background:#EDEEEF;
	overflow:hidden;
	margin-bottom:30px;
	padding-bottom:10px;
	
}

#corpo_statistiche{
	width: 550px;
	height: auto;
	margin: 0 auto;
	margin-top: 2px;
	border: 1px solid #CED2DB;
	background:#EDEEEF;
	overflow:hidden;
	margin-bottom:30px;
	padding-bottom:10px;
	
}


#corpo_configurazione_serata{
	width: 500px;
	height: auto;
	margin: 0 auto;
	margin-top: 2px;
	border: 1px solid #CED2DB;
	background:#EDEEEF;
	overflow:hidden;
	margin-bottom:30px;
	padding-bottom:10px;
	
}

#corpo_configurazione_piatti{
	width: 700px;
	height: auto;
	margin: 0 auto;
	margin-top: 2px;
	border: 1px solid #CED2DB;
	background:#EDEEEF;
	overflow:hidden;
	margin-bottom:30px;
	padding-bottom:10px;
	
}

.titolo{
	width:794px;
	height:16px;
	margin:1px;
	background:#FF9933;
	background-image:url(../img/titolo.gif);
	background-repeat:repeat-x;
	margin: 0 auto;
	margin-top: 20px;
	border:1px solid #6C88D0;
	padding:3px;
	color:#FFFFFF;
}

.titolo_configurazione{
	width:344px;
	height:16px;
	margin:1px;
	background:#FF9933;
	background-image:url(../img/titolo.gif);
	background-repeat:repeat-x;
	margin: 0 auto;
	margin-top: 50px;
	border:1px solid #6C88D0;
	padding:3px;
	color:#FFFFFF;
}

.titolo_statistiche{
	width:544px;
	height:16px;
	margin:1px;
	background:#FF9933;
	background-image:url(../img/titolo.gif);
	background-repeat:repeat-x;
	margin: 0 auto;
	margin-top: 50px;
	border:1px solid #6C88D0;
	padding:3px;
	color:#FFFFFF;
}

.titolo_configurazione_serata{
	width:494px;
	height:16px;
	margin:1px;
	background:#FF9933;
	background-image:url(../img/titolo.gif);
	background-repeat:repeat-x;
	margin: 0 auto;
	margin-top: 50px;
	border:1px solid #6C88D0;
	padding:3px;
	color:#FFFFFF;
}

.titolo_configurazione_piatti{
	width:694px;
	height:16px;
	margin:1px;
	background:#FF9933;
	background-image:url(../img/titolo.gif);
	background-repeat:repeat-x;
	margin: 0 auto;
	margin-top: 50px;
	border:1px solid #6C88D0;
	padding:3px;
	color:#FFFFFF;
}

.riga_configurazione{
	clear:both;
	margin-left:10px;
	margin-top:10px;
	

}

.riga_configurazione_serata{
	clear:both;
	margin-left:40px;
	margin-top:40px;
	margin-bottom:20px;
	
	

}

.riga_configurazione_serata.disattivata div:not(:last-of-type) {
	text-decoration: line-through;
}


.in_linea_titolo{
	float:left;
	border:1px solid #557BAA;
	padding:2px;
	margin-left:2px;
	background:#9AA8BE;
	margin-bottom:2px;
	font-weight:bold;
	
	}
	
.in_linea{
	float:left;
	border:1px solid #B1B1B1;
	padding:2px;
	margin-left:2px;
	background:#B4BECF;
	margin-bottom:2px;
	}

#n_serata{
	width:25px;
	text-align:center;
}

#titolo_n_serata{
	width:25px;
	text-align:center;
}



#data_serata{
	width:100px;
	text-align:left;
}

#titolo_data_serata{
	width:100px;
	text-align:left;
}

#titolo_piatto_stat{
	width:300px;
	text-align:left;
}


#azioni_serata{
	width:260px;
	text-align:left;
}

#titolo_azioni_serata{
	width:260px;
	text-align:left;
}

#desc_piatti{
	width:240px;
	text-align:left;
}

#titolo_desc_piatti{
	width:240px;
	text-align:left;
}

#azioni_piatti{
	width:150px;
	text-align:left;
}

#titolo_azioni_piatti{
	width:150px;
	text-align:left;
}

#tipo_piatto{
	width:110px;
	text-align:left;
}

#titolo_tipo_piatto{
	width:110px;
	text-align:left;
}

#prezzo{
	width:30px;
	text-align:left;
}

#titolo_prezzo{
	width:30px;
	text-align:left;
}


.label_configurazione{
	margin-bottom: 3px;
	font-weight:bold;
	font-size:11px;
	width:325px;
	background:#BCBCBC;
	border:1px solid #ADBDCF;
}

.input_configurazione{
	color:#5E6F97;
	border:1px solid #ADBDCF;
	padding-left:2px;
	width:325px;
}

#date{
	width:80px;
}

#contenitore_date{
	float:left;
	margin-right:20px;
}

#button_configurazione{

	width: 85px;
	
	margin-top:15px;
}
/* --------- FINE CORPO --------- */

/* MENU */
#menu{
	width:auto;
	background:#E7DADA;
	margin:0px;
	padding:0px;
	list-style:none;
}

#sfondo_menu{
	width: auto;
	background:#D1D8E4;
	background-image:url(../img/menu.gif);
	background-repeat:repeat-x;
	height:25px;		
}

.voce_menu{
	background:#003366;
}

#testa{
	width:1150px;
	height:30px;
	border:1px solid #8895B3;
	margin:0 auto;
	margin-top:20px;
	overflow:hidden;
	background:#79BCF2;
}

#contatori{
	width:196px;
	height:710px;
	float:left;	
	border:1px solid #8895B3;
	background:#79BCF2;
	margin-right:3px;
}

#contenitore_ordini{
	width:1150px;
	/*height:710px;*/
	margin:0 auto;
	margin-top:5px;
	overflow:hidden;
	/*border:1px solid #8895B3;*/
	margin-bottom:30px;
	clear:both;
}

#pulsanti{
	width:196px;
	height:710px;
	float:right;	
	border:1px solid #8895B3;
	background:#79BCF2;
	margin-left:1px;
}

#prima_riga{
	clear:both;
	/*border:1px solid #8895B3;*/
	overflow:hidden;
	
}

#primi{
	width:340px;
	/*height:200px;*/
	border:1px solid #8895B3;
	float:left;
	overflow:hidden;
	margin-left:5px;
	margin-top:1px;
	background:#ffffff;
}

#contorni{
	width:340px;
	/*height:200px;*/
	border:1px solid #8895B3;
	float:right;
	overflow:hidden;
	margin-right:5px;
	margin-top:1px;
	background:#FFFFFF;
}

#secondi{
	width:688px;
	/*height:470px;*/
	border:1px solid #8895B3;
	margin-left:5px;
	margin-bottom:10px;
	margin-top:5px;
	overflow:hidden;
	background:#FFFFFF;
}


#bevande{
	width:688px;
	height:550px;
	border:1px solid #8895B3;
	
	overflow:hidden;
	background:#FFFFFF;
}

#menu_bambini{
	width:688px;
	height:350px;
	border:1px solid #8895B3;
	
	overflow:hidden;
	background:#FFFFFF;
}

#menu_geko{
	width:688px;
	height:350px;
	border:1px solid #8895B3;

	overflow:hidden;
	background:#FFFFFF;
}

#contenitore_tab{
	width:700px;
	height:20px;

	overflow:hidden;
}

#riga_menu{
	border:1px solid #8895B3;
	overflow:hidden;
	margin:1px;
	margin-bottom:2px;
	background:#E9ECEF;
	height: 18px;
	font-size:13px;
	padding:1px;

}

#tab{
	text-decoration:none;
	clear:both;
	margin:0px;
}

.li_tab{
	display:inline;
	text-decoration:none;
	
	
	
}

.border_li{
	width:100px;
	height:20px;
	border:1px solid #80A3CA;
	background:#E1E8EC;
	margin:1px;
	text-align:center;
	float:left;
}

#titolo_riga_menu{
	overflow:hidden;
	margin:1px;
	height: 16px;
	font-weight:bold;
}

.piu_c{
	float:left;
	margin-left:1px;
	border:1px solid #8895B3;
	width: 25px;
	padding-left:8px;
	background:#A6B6CE;
	margin-top:1px;
	overflow:hidden;
}

.meno_c{
	float:left;
	margin-left:5px;
	margin-top:1px;
	border:1px solid #8895B3;
	width: 25px;
	padding-left:8px;
	background:#A6B6CE;
}

#descrizione{
	float:left;
	margin-left:3px;
}	

.prezzo{
	float:right;
	margin-right:3px;
}	

#quantita{
	float:right;
	margin-right:1px;
}	

.input_quantita{
	width:20px;
	height:11px;
	padding-left:2px;
	border: 1px solid #8895B3;
}

#pulsanti .btn{
	width:188px;
	height:20px;
	border:1px solid #A7B7ED;
	background:#2C5C98;
	color:#FFFFFF;
	margin-left:3px;
	margin-top:5px;
	text-align:center;
	padding-top:3px;
	font-weight:bold;
}

#contatori_riga{
	clear:both;
	
	overflow:hidden;
	margin:2px;
	margin-bottom:15px;
}

#desc_cont{font-size:15px;text-align:center;}

#c{font-size:18px; font-weight:bold; text-align:center;margin-bottom:15px; margin-top:5px;
}
#totale{
	width:184px;
	height:32px;
	border:1px solid #2C5C98;
	color:#2C5C98;
	font-weight:bold;
	text-align:right;
	padding-right:3px;
	background:#E7ECF1;
	float:right;
	font-size:26px;
	margin-right:3px;
	margin-top:2px;
	padding-top:3px;
	overflow:hidden;
}

#-nominativo{
	margin-left:35px;
	margin-top:2px;
	padding-top:3px;
	float:left;
}

#id_ordine{
	
	margin-left:10px;
	margin-top:6px;
	padding-top:3px;
	float:left;
}

#cassieri{clear_both;}

#cont_contatori{
	overflow:hidden;
	border:1px solid #DADADA;
	background:#EFEFEF;
	width:900px;
	height:auto;
	padding-bottom:20px;
	margin:0 auto;
	margin-top:20px;
	
}

#cont_piatto{
	float:left;
	
	font-size:54px;
	margin-top:10px;
	margin-left:75px;
}

#cont_q{
	float:left;
	
	margin-left:25px;
	margin-top:10px;
	font-size:54px;
}
#r{clear:both;}

.btn, .piu, .meno {
	cursor: pointer;
}
