@charset "utf-8";
/* CSS Document */
@media print {
	@page{ 
	   size: portrait;
	   size: 297mm 210mm;
	   margin:auto;
	   margin-left: 5mm;
	   margin-right: 5mm;
	   margin-top: 0;
	   margin-bottom: 10mm;
	   padding-top:0;  
	}
	#principale {
	transform:rotate(-90deg);
	width: 279mm;
	height: 209mm;
	position: relative;
	top: 35mm;
	left: -35mm;
	}
	.no-stampa {
		display: none;
	}
}

body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size:15px;
	margin:0px;
	padding:0px;
	color:#000000;
}
#principale {
}

div.testa_stampa{
	border:1px solid #000000;
	
	margin-left:10px;
	margin-top:15px;

}

div.riepilogo_stampa{
	border:1px solid #000000;
	
	height:25px;
	margin-left:10px;
	margin-bottom:10px;
	
	
	

}

div.n_ordi{ font-size:28px; margin-left:10px;margin-bottom:10px;}

div.contenitore_stampa{
	/*border:1px solid #000000;*/
	
	margin-left:10px;
	margin-bottom:10px;
	margin-top:10px;
	clear:both;
	overflow:hidden;
}

div.fl{
	float:left;
	/*border:1px solid #000000;*/
	padding: 3px;
	margin:1px;
	margin-left:15px;
}

div.piatto{
	width:250px;
}

div.evento{
	margin-left:10px;
	font-size:22px;
	display: inline;
}

div.luogo{
	margin-left:10px;
	font-size:18px;
	display: inline;
}

.relative {
	position: relative;
}

div.data{
	margin: 0 10px;
	font-size:16px;
	display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
}

div.label_ordine{
	margin: 5px;
	margin-top:20px;
	font-style:italic;
}

div.label_food{
	margin: 5px 10px;
	font-style:italic;
	font-size:22px;
}

div.numero{
	margin-left:5px;
	font-style:normal;
	float:left;
	/*border:1px solid #000000;*/
	padding:3px;
	
}

div.numero_r{
	margin-right:5px;
	font-style:normal;
	float:right;
	/*border:1px solid #000000;*/
	padding:3px;
	
}
#t{
	margin-right:5px;
	font-style:normal;
	float:right;
	border:1px solid #000000;
	padding:3px;
	
}

div.contenitore_stampa_1{
	border:none;
	width: 140mm;
	padding:0px;
	margin:0px;
	vertical-align: bottom;
}

div.totale_stampa{
	width:220px;
	float:right;
	border:1px solid #000000;
	padding:3px;
	padding-right:0px;
	margin:2px;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
	
	
}

div.fisc{
	margin:auto; 
	width:200px;
	margin-top:10px;
}

div.tot{
	font-size:18px;
	font-weight:bold;
	margin-left: 290px;
	vertical-align: bottom;
}

div.primi_stampa{
	border:1px solid #000000;
	padding:3px;
	overflow:hidden;
	margin-bottom:10px;
}

div.riga_stampa{
	overflow:hidden;
	clear:both;
	margin-left:40px;
}

div.separatore_verticale {
	display: inline-block;
	height: 200mm;
	width: 0px;
	border: 0 solid black;
	border-right: 1px solid black;
}

#food {
	/*page-break-after: always;*/
}

#food, #bevande {
    display: inline-block;
    vertical-align: top;
    height: 200mm;
    width: 138mm;
}

#bevande {
	position: relative;
}

#grazie {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 1px;
	margin-left:10px;
}
/*div.gekk {page-break-after: always;*/}