@charset "utf-8";
/* CSS Document */
@MEDIA print {
	@page{ 
	   size: portrait;
	   size: 297mm 210mm;
	   margin:auto;
	   margin-left: 5mm;
	   margin-right: 5mm;
	   margin-top: 0;
	   margin-bottom: 10mm;
	   padding-top:0;  
	}
}

