<?php if ($this instanceof Sagra_Pagina): ?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><?php echo $this->ottTitolo(); ?></title>
	
		<link rel="stylesheet" href="../css/style2.css" type="text/css">
		<link rel="stylesheet" href="../css/bootstrap.min.css" >
	</head>

	<body>
		<?php $this->inserisciContenutoPrincipale(); ?>
		<script type="text/javascript" src="../jquery/jquery.js"></script>
		<?php $this->inserisciJavascript(); ?>
	</body>
</html>
<?php endif;?>