@charset "utf-8";
/* CSS Document */

/* PRINCIPALE */
	body{
		margin: 0px;
		padding: 0px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
	}
	
	#testata{
		width: auto;
		height: 40px;
		background:#FF9900;
		font-size:28px;
		color:#FFFFFF;
		padding-left:10px;
	}
	
	#testata2{
		width: auto;
		height: 20px;
		background:#FFCF75;
		font-size:14px;
		color:#555555;
		padding-left:10px;
	}
	
	#menu{
		width: auto;
		height: 15px;
		background:#E9E9E9;
		border-top:1px solid #999999;
		border-bottom:1px solid #999999;
		font-size:12px;
		color:#555555;
		padding-left:10px;
		padding-top:2px;
	}
	
	#corpo{
		width:950px;
		margin:0 auto;
		margin-top:0px;
		overflow:hidden;
		clear:both;
	}
	
	#contatori{
		float:left;
		border:1px solid;
		width: 130px;
		height: 400px;
		margin-top: 35px;
		background:#FFCF75;
		border:1px solid #FF9900;
		overflow:hidden;
	}
	
	.titolo_contatore{
		font-size:13px;
		font-weight:bold;
		text-align:center;
	}
	
	.ordinate{
		margin-top:2px;
		padding-left:5px;
	}
	
	.rimanenti{
		margin:0 auto;
		margin-top:5px;
		margin-bottom:15px;
		padding:3px;
		font-weight:bold;
		border:1px solid #FF6600;
		width:40px;
		text-align:center;
		
	}
	
	#contenitore_menu{
		float:left;
		height: 435px;
		margin-left:1px;
		margin-right:1px;
		border:1px solid #666666;
		background:#CECECE;
	}
	
	#pulsanti{
		float:left;
		border:1px solid;
		width: 130px;
		height: 400px;
		margin-top: 35px;
		background:#FFCF75;
		border:1px solid #FF9900;
		overflow:hidden;
	}
	
	#totale{
		
		width:750px;
		margin:0 auto;
		margin-top: 15px;
		text-align:right;
		padding-right:360px;
		color:#E69500;
		font-weight:bold;
		font-size:18px;
	}
/* fine PRINCIPALE */


/* inizio GENERALE */
	.riga{
		clear:both;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.piccolo{
		font-size:10px;
	}
	
	.link{
		color:#333333;
		text-decoration:none;
	}
/* fine GENERALE */


/* inizio INDEX */
	.box_piatti{
		width: 270px;
		
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		
		overflow:hidden;
		float: left;
	}
	
	#contorni{
		width: 560px;
		
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		
		overflow:hidden;
		float: left;
	}
	
	.titolo_box{
		color:#4B4B4B;
		margin-bottom: 1px;
	}
	
	.contenuto_box{
		height:180px;
		background:#E8E8E8;
		border: 1px solid #9E9E9E;
	
	}
	
	.voce_menu{
		margin-top:3px;
		clear:both;
		overflow:hidden;
		font-size:11px;
	}
	.piatto{
		width:160px;
		float: left;
		height: 14px;
		margin-left: 5px;
		padding-top:2px;
		font-size:11px;
	}
	
	.prezzo{
		width: 30px;
		height: 14px;
		float: left;
		margin-left: 5px;
		padding-top:2px;
		font-size:11px;
		text-align:left;
	}
	
	.quantita{
		width: 30px;
		float: left;
		font-size:11px;
		text-align:center;
	}
	
	.input_quantita{
		width: 30px;
		height: 12px;
		text-align:center;
		font-size:11px;
	}
	
	.bottone{
		width:120px;
		height: 20px;
		background:#DDDDDD;
		margin:0 auto;
		margin-top:4px;
		border: 1px solid #9E9E9E;
		text-align:center;
		padding-top:5px;
	}
	
	.a{text-decoration:none;color:#333333;
	}
	
	li{
		list-style:none;
		float:left;
		margin-left:5px;
		background:#E8E8E8;
		padding:5px;
		border:1px solid #C1C1C1;
		border-bottom:none;
		
	}
	#tab{
		margin-left:260px;
	}

/* fine INDEX */