body{ 
	margin:0px;
  	padding: 0px; 
	font-family: verdana,arial,sans-serif; 
	font-size:12px;
	background-color:#FFFFFF; 
	color:#1C5929;
}
/* ----- MENU --------- */

#corpo{
	width:600px;
	margin:0 auto;
	margin-top: 200px;
	overflow:hidden;
}

#lista li{ 
	color:#333333;
	width:120px;
	list-style:none;
	margin-left:50px; 
	float:left;
}

.bottone_menu{
	border: 1px solid #55A426;
	padding:5px;
	background:#DAEDC9;
	height:15px;
	width:100px;
	text-align:center;
}

#back_menu{margin-left:500px; margin-top:100px;}

/* --- FINE MENU -------- */


#scroll_settimane{ margin-left:10px; margin-top:50px; font-size:11px; font-weight:bold;}


a{ text-decoration:none; color:#112488; font-size:11px;}

.verde{color:#006600;  font-weight:bold; font-size:11px;}

.link_impegno{display:block;}

.riga{ clear:both; /*overflow:hidden;*/ width:2500px; float:left; z-index:-1;}

.blu{color:#112488; font-size:11px;}

#titolo{  color:#CC0000; margin-left:10px; margin-bottom:10px; margin-top:10px; font-size:17px; font-weight:bold;}

h3{ color:#CC0000; margin-left:10px;}

.icone{border:0px;}

#link_progetti{margin:10px; }



#calendario{margin:10px; width:1250px; }

#calendario_settimanale{margin:10px; width:1800px; height:auto; }

#calendario_progetti{margin-top:0px; margin-left:10px; margin-right:10px; width:1800px; height:auto; overflow:hidden; }

#instestazione_calendario{ 
	float:left; 
	color:#006600; 
	padding:5px; 
	padding-left:10px; 
	font-weight:bolder;  
	margin-bottom:15px; 
	margin-top:25px; 
	width:150px;  
}

#selezione_persone{ padding:3px; padding-right:10px;  margin-bottom:1px; width:300px; float:right;}

#vista_mese{ margin-left:10px; padding-top:5px;}

.cella_giorni{float:left;width:164px; height:20px; text-align:center; font-weight:bold;}

.cella_giorni_settimana{float:left;width:211px; height:20px; text-align:center; font-weight:bold;}

.numero{height:18px; text-align:center; width:185px; border-bottom:#000000 1px solid;padding-top:2px;}

.intestazione{
	float:left;
	width:156px;
	height:15px;
	margin:1px;
	background:#8DCB32;
	border:solid 1px #699E2E;
	text-align:center;
	color:#000000;
}
	
.cella{
	float:left;
	background:#E6FBB5;
	border:solid 1px #355416;
	width:160px;
	height:160px;
	margin:1px;
	margin-bottom:3px;
	z-index:0;	
}

.contenuto{
	float:left;
	width:159px;
	height:140px;
	z-index:1;
}



#intestazione_oggi{
	float:left;
	width:156px;
	height:15px;
	margin:1px;
	background:#FF9C80;
	border:solid 1px #CC0000;
	text-align:center;
	color:#DDF8CB;
}

#cella_oggi{

	background:#FFEFE6;
 	border:1px solid #CC0000;
	float:left;
	width:160px;
	height:160px;
	margin:1px;
	margin-bottom:3px;
}

.contenuto_oggi{
	float:left;
	width:159px;
}

.intestazione_selez{
	float:left;
	width:156px;
	height:15px;
	margin:1px;
	background:#1A9304;
	border:solid 1px #CC0000;
	text-align:center;
	color:#DDF8CB;
}

.cella_selez{

	background:#FFFF99;
 	border:1px solid #CC0000;
	float:left;
	width:160px;
	height:160px;
	margin:1px;
	margin-bottom:3px;
}

.intestazione_settimana{
	float:left;
	width:201px;
	height:15px;
	margin:1px;
	background:#8DCB32;
	border:solid 1px #009900;
	text-align:center;
	color:#000000;
	z-index:-1;

}

.cella_settimana{
	float:left;
	background:#FFFFFF;
	border:solid 1px #000000;
	width:205px;
	height:1000px;
	margin:2px;
	
	z-index:-1;
}

.numero_cella{color:#225B86; font-weight:bold;}

#numero_cella_oggi{color:#225B86; font-weight:bold;}

.ora{clear:both;width:160; height:80px; border-bottom:#000000 1px solid; padding-left:1px; padding-top:1px; z-index:-1;}

.ora_impegno{
	width:154px; 
	margin-left:1px; 
	height:15px; 
	background:#FFFF33; 
	border:1px solid #DCD705; 
	padding:1px;
	margin-bottom:1px;
	z-index:1;
}

#ora_impegno_settimana{
	width:183px;
	margin-left:15px; 
	
}

.impegno_settimana{
	width:164px; 
	margin-left:1px; 
	height:12px; 
	background:#FFFF33; 
	border:1px solid #DCD705; 
	padding:1px;
	margin-bottom:1px;
	font-size:10px;
	margin-left:15px;
}


#elimina_impegno{font-size:9px; text-align:right;  color:#CC0000;}

.dettaglio{
	 position:absolute;
	 overflow:auto; 
	 margin:20px;
	 width:230px; 
	 height:150px; 
	 background:#FFFF33; 
	 border:1px solid #003300; 
	 display:none; 
	 z-index:1;
 }
 


.chiudi{
	width:225px; 
	height:15px; 
	margin:1px; 
	background:#006600; 
	color:#DCFDC4; 
	padding-right:3px; 
	text-align:right; 
	font-weight:bold; 
	cursor: pointer; 
}

#contenitore_elimina{
	margin:0px; 
	padding:0px; 
	width:227px;
	text-align:right;
}

.content_dettaglio{margin:2px; margin-top:3px; height:115px; z-index:-1;}

.sigla{float:left; background:#FFFF33; margin-left:2px; /*border-right:none;*/}

.ora_i{float:left; width:35px;}



/* ----------- FORM --------------- */

#div_trasparenza{ 
	width:1800px; 
	height:2000px; 
	background:#333333;
	margin:auto;  
	position:absolute; 
	z-index:1; 
	top:0px; 
	left:0px; 
	filter:alpha(opacity=30);
	 -moz-opacity:.30;
	 opacity:.30; 
	 display:none;
}

#form_nascosto{ 
	width:400px; 
	height:550px; 
	background:#E8FDC1; 
	position:absolute; 
	top:92px; 
	left:11px;  
	z-index:2; 
	border:solid 1px #333333; 
	display:none;
}

#chiudi{
	float:right;
	margin-bottom:30px;
	color:#333333; 
}

a#chiudi_evento{
	color:#E3FCD8; 
}

a#chiudi_evento:hover{
	color:#003300; 
}


#testa_inserimento{
	background:#308114;
	color:#FFFFFF;
	height:20px;
	width:400px;
	border-bottom:solid 1px #333333; 	
}



#titolo_modifica{
	color:#E3FCD8; 
	padding:3px;
	float:left;
	font-weight:bold;
	font-size:11px;
}

.etichetta_input{	
	float:left;
	width:100px;
	padding-top:7px;
	padding-left:10px;
	font-size:11px;
	color:#006600;
}

input{
	width:200px;
	color:#006600;
	margin-top:7px; 
	font-size:11px;
}

#hh{
	width:40px;
	margin-top:5px;
	font-size:11px;	
	color:#006600;
	padding:1px; 
}

#mm{
	width:40px;
	margin-top:5px;
	font-size:11px;	
	color:#006600;
	padding:1px; 
}

textarea{
	clear:both;
	width:200px;
	overflow:hidden;
	height:70px;	
	color:#006600;
	padding:1px; 
	font-size:11px;
}

select{
	width:202px;
	color:#006600;
	margin-right:5px;
	padding:1px;
	margin-top:7px; 
	font-size:11px;
}

#select_impegno{
	float:left;

}

.input{
	float:left;
	font-size:11px;
	padding-top:1px;
		
}

.checkbox{
	width:10px;
	height:10px;
	color:#006600;
	margin:3px;
}

.bottone{
	margin-top:30px;
	margin-right:2px;
	width:95px;
	height:20px;
	font-size:11px;
	color:#006600;
	border:#666666 solid 1px;
	font-weight:bold;
	
}

.impegno_tipolgie{
	clear:both;
	float:left;
	font-size:10px;
	margin:1px;
	margin-top:3px;
	padding:2px;
	width:30px;
	height:auto;
	color:#FF0000;
	font-weight:bold;
}

#link_nuova_tipologia{
	font-size:10px;
	text-align:right;
	width:200px;

}

#contenuto_ajax{ clear:both; }

/* ------- FINE FORM -----------------*/



/*---------INIZIO PROGETTI ------------------- */

.intestazione_cella_progetto{
	float:left;
	width:182px;
	height:15px;
	margin-bottom:2px;
	margin-left:2px;
	background:#8DCB32;
	border:solid 1px #009900;
	text-align:center;
	color:#000000;
	z-index:-1;
	font-weight:bold;
}

.intestazione_giorni_progetto{
	float:left;
	width:184px;
	height:15px;
	margin-bottom:2px;
	margin-left:2px;
	text-align:center;
	color:#112488;
	z-index:-1;
}


.intestazione_persona{ 
	float: left; 
	width:150px; 
	height:15px; 
	margin-bottom: 2px; 
	padding:1px;  
	margin-left:2px;
}

.persona{ 
	float: left; 
	width:150px; 
	height:16px; 
	border:1px solid #535353;  
	margin-bottom: 2px; 
	margin-right:2px; 
	padding:1px; 
	background:#E8FCC9; 
	font-weight:bold;
}

.riga_impegni{float:left; width:1500px;  height:16px; margin-bottom:5px;  margin-left: 2px;}

.cella_progetto{
	float:left;
	width:180px;
	height:16px;
	border:1px solid #535353;
	background:#E3E9D8;
	margin-right: 2px;
	text-align:left;
	padding:1px;
	color:#000000;
	z-index:-1;
}


#legenda_simboli{ 
	position:relative; 
	clear:both; 
	font-size:11px; 
	width:740px; 
	overflow:hidden;
	border:1px solid #535353; 
	margin-top:50px; 
	margin-left:190px;
}

#titolo_legenda{
	font-weight:bold; 
	font-size:11px; 
	padding:3px; 
	margin:1px; 
	width:730px; 
	height:13px; 
	background:#8DCB32; 
	border:solid 1px #009900;
}

ul#legenda{list-style:none;}

li.voce_legenda{margin:6px;}

.nuovo_progetto_intestazione{float:left; width:20px; height:18px; margin-right:2px; border:1px solid #FFFFFF;}
.nuovo_progetto{float:left; width:20px; height:18px; margin-right:2px; border:1px solid #888888;}

/*---------FINE PROGETTI ------------------- */


/*---------INIZIO DETTAGLIO PROGETTI ------------------- */

#contenitore_progetti_dettaglio{ width:518px; height:600px; border:1px solid #888888; margin-left:10px; overflow:auto; }

#intestazione_dettaglio_p{ 
	width:512px; 
	height:20px; 
	border:1px solid #888888; 
	margin:10px; 
	margin-bottom:5px; 
	margin-top:30px; 
	font-weight:bold; 
	font-size:14px; 
	text-align:center; 
	padding:3px; 
	background:#8DCB32; 
}

.riga_dettaglio_p{ 
	clear:both; 
	width:494px; 
	height:40px; 
	border-bottom:1px solid  #A2A2A2;
	background:#F2F2F2; 
	padding:3px; 
	color:#888888; 
	font-size:10px;
}

.riga_dettaglio_p_2{
	clear:both; 
	width:494px;
	height:40px; 
	border-bottom:1px solid #A2A2A2; 
	background:#E2E2E2;  
	padding:3px; 
	color:#888888; 
	font-size:10px;
}

.ora_dettaglio{float:left; font-weight:bold; }

.hh_dettaglio{float:left; }

.min_dettaglio{float:left; color:#A2A2A2;  font-weight:bold; }

.contenuto_dettaglio{float:left; width:425px; height:36px;  margin:2px; margin-left:15px;}

.contenuto_dettaglio_2{float:left; width:425px; height:36px;  margin:2px; margin-left:15px; }

/*--------- FINE DETTAGLIO PROGETTI ------------------- */

/*---------NUOVO PROGETTO ------------------- */

#contenitore_nuovo_progetto{ width:508px;  height:auto;  background:#F0F0F0; border:1px solid #BFBFBF; margin-left:10px; margin-bottom:30px; padding:5px; margin:0 auto;}

#intestazione_nuovo_progetto{ 
	width:505px; 
	height:20px; 
	border:1px solid #009900; 
	margin:10px; 
	margin-bottom:5px; 
	margin-top:30px; 
	font-weight:bold; 
	font-size:14px; 
	text-align:left; 
	padding:3px; 
	padding-left:10px;
	background:#8DCB32;
	margin:0 auto; 
}

select#select_impegno_nuovo{ border:1px solid #BFBFBF; color:#666666; margin-bottom:10px;}
textarea#descrizione_nuovo{ border:1px solid #BFBFBF; color:#666666;}
input#luogo_nuovo{border:1px solid #BFBFBF;color:#666666;}
input#data_inizio_nuovo{border:1px solid #BFBFBF;color:#666666;}
input#file_tipologia{border:1px solid #BFBFBF;color:#666666;}
select.mm_nuovo{border:1px solid #BFBFBF;color:#666666;}
select.hh_nuovo{border:1px solid #BFBFBF;color:#666666;}
input#data_fine_nuovo{border:1px solid #BFBFBF;color:#666666;}
select.mm_fine_nuovo{border:1px solid #BFBFBF;color:#666666;}
select.hh_fine_nuovo{border:1px solid #BFBFBF;color:#666666;}
select.avviso_nuovo{border:1px solid #BFBFBF; color:#666666;}
.bottone_nuovo{border:1px solid #BFBFBF; background:#F3F3F3; color:#666666; width:140px; font-weight:bold; font-size:13px; margin-top:10px;margin-bottom:8px; float:left; margin-left:5px; font-size:12px; padding:1px;}

#elimina_progetto{padding:2px; font-size:11px; text-align:center;}

.etichetta_input_nuovo{
	float:left;
	width:100px;
	padding-top:7px;
	padding-left:10px;
	font-size:11px;
	color:#666666;
}

#nuova_tipologia_nuovo{
	float:left;
	padding-top:10px;
	color:#666666;
}

#contenuto_ajax_nuovo{border:1px solid #B7B7B7; background:#E1E1E1; overflow:hidden; width:505px; clear:both;  margin-bottom:5px; padding-top:10px; padding-bottom:10px;}

#bordo{border:1px solid #B7B7B7; background:#E1E1E1; overflow:hidden; width:505px; clear:both;   margin-bottom:5px; padding-top:10px; padding-bottom:10px;}

#back{clear:both; margin:0 auto; margin-bottom:30px; text-align:center; padding-top:30px; }

#verde{color:#003300; font-weight:bold;}

#link_nuova_tipologia{ color:#666666; margin-left:10px;}

#trasparenza_nuovo{
	width:1800px; 
	height:2000px; 
	background:#333333;
	margin:auto;  
	position:absolute; 
	top:0px; 
	left:0px; 
	filter:alpha(opacity=30);
	 -moz-opacity:.30;
	 opacity:.30; 
	 display:none;
}

#tipologia_nuovo{
	height:245px; 
	display:none; 
	position:absolute; 
	top:200px; 
	left:100px;
	width:350px; 
	border:1px solid #666666;
	background:#FFFFFF;
	
}

#intestazione_tipologia_nuovo{
	width:340px; 
	height:15px; 
	background:#8DCB32; 
	margin:1px; 
	border:1px solid #009900;
	padding:3px; 
	font-size:11px;
	font-weight:bold;
}

#label_tipologia_nuovo{
	margin:3px; 
	margin-top:25px;
	font-size:11px;
	color:#7C7C7C;
	text-align:center;
}

#input_tipologia_nuovo{
	margin:3px; 
	margin-top:8px;
	text-align:center;
}

input#nuova_tipologia{
	color:#7C7C7C;
	border:1px solid #BFBFBF;
	padding:1px;
	
}

button.bottone_tipologia{
	border:1px solid #BFBFBF; 
	color:#666666; 
	width:98px; 
	font-weight:bold; 
	font-size:11px; 
	margin-top:20px;
	
}

#chiudi_nuovo{ font-size:10px; margin-top:25px; margin-right:1px; color:#003300; text-align:right;}


.stato_corrente{margin-left: 5px; float:left; margin-top:6px;}

.cambia_stato{margin-left:10px; float:left; margin-top:6px;}
/*--------- FINE NUOVO PROGETTO ------------------- */

/*--------  INIZIO RIEPILOGO PROGETTI ------------------- */

#calendario_riepilogo{margin-top:50px; margin-left:10px; margin-right:10px; width:1800px; height:auto; overflow:hidden; }

.intestazione_riepilogo{
	float:left; 
	border:1px solid #009900; 
	width:180px;
	height:15px; 
	margin-right:2px; 
	padding:1px; 
	padding-left:2px;
	background: #8DCB32;
	color:#006600;
	font-weight:bold;
}

#intestazione_id_riepilogo{width:20px;}
#id_riepilogo{width:20px;}

#intestazione_descrizione_riepilogo{width:350px;}
#descrizione_riepilogo{width:350px;}

#intestazione_datainizio_riepilogo{width:80px;}
#datainizio_riepilogo{width:80px;}

#intestazione_datafine_riepilogo{width:80px; }
#datafine_riepilogo{width:80px;}

.cella_riepilogo{
	float:left; 
	border:1px solid #9E9E9E; 
	width:180px;
	height:15px;
	margin-top:2px; 
	margin-right:2px; 
	padding:1px; 
	padding-left:2px;
	background:#EAEAEA;
	color:#006600;
	font-size:12px;
}

.stati_riepilogo{ float:left; margin-right:3px; border:1px solid #AAAAAA; padding-left:2px; padding-right:2px; font-size:11px; }

#stati_riepilogo_1{background:#FA8958;}
#stati_riepilogo_2{background:#FDA564;}
#stati_riepilogo_3{background:#F5D052;}
#stati_riepilogo_4{background:#DFEA5E;}
#stati_riepilogo_5{background:#C8EC84;}
#stati_riepilogo_6{background:#8DCB32;}

/* contenitore stati */

#contenitore_stati{
	clear:both;
	width:1120px;
	height:50px;
	margin-top:100px;
	margin-left:10px;
	border:1px solid #AAAAAA;
}


#intestazione_contenitore_stati{
	border:1px solid #009900; 
	width:1113px;
	height:13px; 
	margin:1px; 
	padding:1px; 
	padding-left:2px;
	background: #8DCB32;
	color:#006600;
	font-weight:bold;
	font-size:11px;
}

.elenco_stati{
	float:left; 
	width:150px;
	margin:5px;
	margin-top:10px;
	font-size:11px;
	
	
}

#out{ margin-left: 30px;  margin-top:1px;}

.preavviso{font-size:10px; font-weight:bold; vertical-align:3px; color:#666666; margin-bottom:4px; }

.grigio{color:#006600;}
/* fine contenitore stati */