<div id="contenitore_menu">
               
                <div class="riga">
                    
                    <!-- INZIO PRIMI -->
                        <div id="primi" class="box_piatti">
                        	
                            
                                
                                    <div class="titolo_box">
                                        primi
                                    </div>
                                    
                                    <div class="contenuto_box">
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                
                                            </div>
                                            
                                            <div class="prezzo">
                                              <span class="piccolo"> P</span>
                                            </div>
                                            
                                            <div class="quantita">
                                               <span class="piccolo"> Q</span>
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Marinate
                                            </div>
                                            
                                            <div class="prezzo">
                                                3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                    </div>
 					 </div>
                    <!-- FINE	 PRIMI -->
                    
                    <!-- INZIO SECONDI -->
                        <div id="secondi" class="box_piatti">
                        	<div class="titolo_box">
                            	secondi
                            </div>
                            <div class="contenuto_box">
                            
                            <div class="voce_menu">
                                            <div class="piatto">
                                                
                                            </div>
                                            
                                            <div class="prezzo">
                                              <span class="piccolo"> P</span>
                                            </div>
                                            
                                            <div class="quantita">
                                               <span class="piccolo"> Q</span>
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            

                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Marinate
                                            </div>
                                            
                                            <div class="prezzo">
                                                3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                            
                            </div>
                        </div>
                    <!-- FINE SECONDI -->
                </div>
                
                <div class="riga">
                	<!-- INZIO CONTORNI -->
                        <div id="contorni" class="box_piatti">
                       		<div class="titolo_box">
                            	contorni
                            </div>
                            <div class="contenuto_box">
                            
                            	<div class="voce_menu">
                                            <div class="piatto">
                                                
                                            </div>
                                            
                                            <div class="prezzo">
                                              <span class="piccolo"> P</span>
                                            </div>
                                            
                                            <div class="quantita">
                                               <span class="piccolo"> Q</span>
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Marinate
                                            </div>
                                            
                                            <div class="prezzo">
                                                3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                            </div>
                        </div>
                    <!-- FINE CONTORNI -->
                    
                    <!-- INZIO BEVANDE -->
                        <div id="bevande" class="box_piatti">
                        	<div class="titolo_box">
                            	bevande
                            </div>
                            <div class="contenuto_box">
                            
                            	<div class="voce_menu">
                                            <div class="piatto">
                                                
                                            </div>
                                            
                                            <div class="prezzo">
                                              <span class="piccolo"> P</span>
                                            </div>
                                            
                                            <div class="quantita">
                                               <span class="piccolo"> Q</span>
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Marinate
                                            </div>
                                            
                                            <div class="prezzo">
                                                3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                                        <div class="voce_menu">
                                            <div class="piatto">
                                                Acciughe Salate
                                            </div>
                                            
                                            <div class="prezzo">
                                               3 &euro;
                                            </div>
                                            
                                            <div class="quantita">
                                                <input type="text" id="input_quantita" class="input_quantita" name="quantita" value="0"  />
                                            </div>	
                                        </div>
                                        
                            </div>
                        </div>
                     <!-- FINE BEVANDE -->
                </div>
             </div> 
             
            
             
              <div id="fragment-2">
               asdasd
             </div>
            
             
             </div>   
             <!-- FINE CONTENITORE MENU-->