<?php 
/** @var Sagra_Preparazione_IndexPagina $this */
if ($this instanceof Sagra_Preparazione_IndexPagina) : ?>
<div id="contenitore-informazioni" class="container-fluid ">
	<?php include 'ordiniEPiattiInCoda.phtml'; ?>
</div>
<div class="container-fluid ">
	<br>
	<?php if (!$this->ottParametro('lettura')): ?>
	<form class="form-inline" method="get" action="<?= $this->azioneStampa ?>">
		<div class="row justify-content-center" style="width: 100%">
			<div class="col-auto"><input id="numero-ordine" class="form-control" type="number" min="1" placeholder="N. Ordine" name="numero-ordine">&nbsp;<input id="tasto-stampa" class="form-control btn btn-primary" type="submit" value="Stampa prossimo ordine"></div>
			<input type="hidden" name="tipologie" value="<?= $this->tipologie ?>">
		</div>
	</form>
	<?php endif; ?>
	<form method="get">
		<div class="row justify-content-center">
			<div class="col-auto"><input id="tasto-aggiorna" class="btn" type="submit" value="Aggiorna la pagina"></div>
			<input type="hidden" name="tipologie" value="<?= $this->tipologie ?>">
		</div>
	</form>
</div>
<?php 
$this->aggiungiJavascript(
<<<JSS
<!--
$(function() {
    var elemento = document.getElementById('tasto-aggiorna');
    elemento.style = 'display:none';
    setInterval(function() {
        $('#contenitore-informazioni').load('{$_SERVER['PHP_SELF']}', {
            tipologie: '{$this->tipologie}',
            ajax: true,
        })
    }, 5000);
    
    $('#numero-ordine').on('keyup change', function() {
        if (this.value) {
            $('#tasto-stampa').val('Stampa ordine n. '+ this.value);
        }
        else {
            $('#tasto-stampa').val('Stampa prossimo ordine');
        }
    }).focus();
});
//-->
JSS
);
?>
<?php endif; ?>