<?php /** @var Sagra_Preparazione_IndexPagina $this */ ?>
<?php if ($this instanceof Sagra_Preparazione_IndexPagina) : ?>
	<div class="row">
		<div class="col-12 ordini-da-preparare">Ordini da preparare: <?= $this->totaleOrdiniRimanenti; ?></div>
	</div>	
	<?php foreach (['Asporto' => $this->arrayOrdiniAsportoInCoda, 'Sul posto' => $this->arrayOrdiniInCoda] as $nome => $ordini): ?>
	<div class="row">
		<div class="col-2"><?= $nome ?></div>
		<div class="col-10 lista-ordini-in-coda">
			<ul class="list-inline">
				<?php
			
	while ($ordine = array_pop($ordini)) :	/* @var $ordine Sagra_Preparazione_OrdineInCoda */
		if ($ordine->entropia >= $ordine::ENTROPIA_ROSSO) {
			$tipoBadge = 'badge-danger';
		}
		elseif ($ordine->entropia >= $ordine::ENTROPIA_GIALLO) {
			$tipoBadge = 'badge-warning';
		}
		else {
			$tipoBadge = 'badge-success';
		}
				?>
				<li class="list-inline-item badge <?= $tipoBadge?>"><?= $ordine->totale ?></li>
				<?php
	endwhile;
			
				?>
			</ul>
		</div>
	</div>
	<?php endforeach; ?>
	<table class="table table-striped table-sm">
		<thead>
			<tr>
        		<th>Piatto</th>
        		<th>Porzioni in coda</th>
        		<th>Porzioni servite</th>
        		<th>Totale</th>
        		<th>||</th>
        		<th>Piatto</th>
        		<th>Porzioni in coda</th>
        		<th>Porzioni servite</th>
        		<th>Totale</th>
			</tr>
		</thead>
		<tbody>
        	<?php 
        	
        	$chiave = 0;
        	foreach ($this->arrayPiatti as $piatto): 
        	?>
        	<?php if ($chiave % 2 == 0): ?><tr><?php else: ?><td>||</td><?php endif; ?>
        		<td><?= $piatto->nome ?></td>
        		<td><?= $piatto->porzioniInCoda ?></td>
        		<td><?= $piatto->porzioniServite ?></td>
        		<td><?= $piatto->totalePorzioni ?></td>
        	<?php if ($chiave % 2 == 1): ?></tr><?php endif; ?>
        	<?php 
        	$chiave++;
        	endforeach;
        	
        	?>
    	</tbody>
    </table>
<?php endif; ?>