<?php if ($this instanceof Sagra_Preparazione_StampaPagina) : ?>
<div class="container-fluid">
	<?php if (null !== $this->ordine): ?>
	<div class="row" style="font-weight: bold;">
		<div class="col-3">Ordine n.: <?= $this->ordine->totale ?></div>
		<div class="col">Nominativo: <?= $this->ordine->nominativo ?></div>
		<div class="col-3">Coperti: <?= $this->ordine->coperti ?></div>
	</div>
	<br>
	<div class="row">
		<div class="col-1"><b>Q.tà</b></div>
		<div class="col"><b>Descrizione</b></div>
	</div>
	<?php foreach ($this->piatti as $piatto): ?>
	<div class="row">
		<div class="col-1"><?= $piatto->quantita ?></div>
		<div class="col"><?= $piatto->descrizione ?></div>
	</div>
	<?php endforeach; ?>
	<br>
	<?php endif; ?>
	<div class="row justify-content-center">
		<form method="get" action="<?= $this->azioneRiepilogo ?>">
			<div class="col-auto">
				<input id="tasto-torna" class="btn btn-primary" type="submit" value="Torna al riepilogo degli ordni">
			</div>
			<input type="hidden" name="tipologie" value="<?= $this->tipologie ?>">
		</form>
	</div>
</div>
<script type="text/javascript">
<!--
var elemento = document.getElementById('tasto-torna');
elemento.style = 'display:none';
<?php if (null !== $this->ordine): ?>window.print();<?php endif; ?>
elemento.click();
//-->
</script>
<?php endif; ?>